.image{
    width: 100px;
    height: 100px;
}
header {
    background-color: #016dd2; /* Set the background color to #016dd2 */
    color: white; /* Set the text color to white */
    text-align: center; /* Center-align the text */
    padding: 0px; /* Add some padding to the header */
    
  }